.proficiency-list{
    width: inherit;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.proficiency-list > * {
    padding: 4px 6px;
}
.saving-throws{
    display: flex;
    justify-content: space-evenly;
}
p {
    text-align: start;;
}